:root {
  --primary-btn: #d4d4d4;
  --secundary--btn: #f56200;
  --primary-color-contrast: #8b8b8b;
  --background-color: #6C7A89;
  --background-display: linear-gradient(#c5c5c5, #e0e0e0);
  --field-background-color: #2e2e2e;
  --gradiente-linear: linear-gradient(0deg, rgba(111,113,113,1) 0%, rgba(213,213,213,1) 100%);
}


* { 
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

.calculator {
  background-image: var(--gradiente-linear);
  box-shadow: 0 0 5px var(--field-background-color);
  width: 300px;
  padding: 20px;
}

body {
  width: 100vw;
  height: 100vh;
  background:var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.view {
  width: 100%;
  height: 50px;
  border: solid 2px var(--primary-color-contrast);
  border-radius: 3px;
  margin-bottom: 10px;      
}

::placeholder {
  background-image: var(--background-display);  
  height: 100%;
  text-align: end;
  font-size: 30px;
}

.btn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(5, 50px);
  grid-gap: 5px;
}

.btn-itens {
  background-color: var(--primary-btn);
  color: var(--field-background-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  border: solid 2px var(--primary-color-contrast);
  border-radius: 5px;
  cursor: pointer;
}

.btn-itens:nth-child(17) {
  grid-column: 1 / 3;
}

.btn-itens:nth-child(16) {
  grid-row: 4 / -1;
  grid-column: 4 / -1;
}

.btn-itens:nth-child(n+5):nth-child(-n+7),
.btn-itens:nth-child(n+9):nth-child(-n+11),
.btn-itens:nth-child(n+13):nth-child(-n+15),
.btn-itens:nth-child(17) {
  background-color:var(--secundary--btn);
  color: var(--primary-color);
}
